
html,
body,
header,
.view {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
}

html{
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
}


.view a{
  border-radius: 20px;
  background: #1193d4 !important;
  border: 1px solid white;
  color: white !important;
}

.view a:hover{
  border-radius: 20px;
  background:  white !important;
  border: 1px solid white;
  color: #1193d4 !important;
}

.title-area{
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
}


@media (min-width:768px){
  .title-area{
    font-size: 50px;
  }
}

@media (min-width: 1440px){
  .view .right-content{
    padding: 0 150px;
  }

  .view h6{
    font-size: 25px;
  }

  .view a{
    font-size: 25px;
  }
}

@media (min-width: 1024px){
  .view .right-content{
    padding: 0 100px;
  }

  
}

@media (max-width: 767.5px){
  .view .right-content{
    padding: 0 100px;
  }
}

@media (max-width: 595px){
  .view .right-content{
    padding: 0 50px;
  }
}



@media (min-width: 768px) and (max-width: 1000px) {
  html,
  body,
  header,
  .view {
    height: 600px;
  }
}









